---

- block:
  - validate:
      schema:
        type: object
        additionalProperties:
          - command
        properties:
          auth_kind:
            type: string
            enum:
              - application
              - serviceaccount
            default: application

          name:
            type: string
            pattern: ^[a-z0-9-]+$

          project:
            type: string

          state:
            type: string
            default: present
            enum:
              - absent
              - present

          subdomain:
            type: string
            pattern: ^[a-z0-9.-]+$

        required:
          - auth_kind
          - name
          - project
          - state
          - subdomain

      instance: "{{ gcp }}"
    register: gcp_validated

  - set_fact:
      gcp_v: "{{ gcp_validated.result }}"

  - name: "Deploy {{ gcp_v.name }}-dns-zone"
    gcp_deployment:
      auth_kind: "{{ gcp_v.auth_kind }}"
      config:
        resources:
          - name: "{{ gcp_v.name }}"
            type: dns.v1.managedZone
            properties:
              name: "{{ gcp_v.name }}"
              dnsName: "{{ gcp_v.subnetwork }}"
              description: "Managed zone for {{ gcp_v.subdomain }}"
      name: "{{ gcp_v.name }}-dns-zone"
      project: "{{ gcp_v.project }}"
      state: "{{ gcp_v.state }}"
  tags:
    - gcp_dns_zone
