---

- block:
    - validate:
        schema:
          type: object
          properties:
            command:
              type: string
              enum:
                - api
                - control_instance
                - dependency
                - disk_image
                - disk_snapshot
                - dns_zone
                - project_ssh_keys
                - service_account
                - subnetwork
                - virtual_machine
                - vpc
          required:
            - command
        instance: "{{ gcp }}"

    - include_tasks: '{{ gcp.command }}.yml'
  tags:
    - gcp
