---

- block:
    - validate:
        schema:
          type: object
          properties:
            command:
              type: string
              enum:
                - dependency
                - project_ssh_keys
                - shutdown_instance
                - virtual_machine
          required:
            - command
        instance: "{{ gcp }}"

    - include_tasks: '{{ gcp.command }}.yml'
  tags:
    - gcp
