---

- block:
  - validate:
      schema:
        type: object
        additionalProperties:
          - command
        properties:
          auth_kind:
            type: string
            enum:
              - application
              - serviceaccount
            default: application

          name:
            type: string

          octet:
            oneOf:
            - type: integer
              minimum: 0
              maximum: 254

          project:
            type: string

          regions:
            type: array
            items:
              type: object
              additionalProperties: no
              minLength: 1
              properties:
                name:
                  type: string
                  pattern: ^[a-z1-9-]+$
                octet:
                  type: integer
                  minimum: 0
                  maximum: 254
              required:
                - name
                - octet
          state:
            type: string
            default: present
            enum:
              - absent
              - present

          vpc_network:
            type: string
            pattern: ^[a-z0-9/-]+$

        required:
          - auth_kind
          - name
          - octet
          - project
          - regions
          - state
          - vpc_network

      instance: "{{ gcp }}"
    register: gcp_validated

  - set_fact:
      gcp_v: "{{ gcp_validated.result }}"

  - set_fact:
      subnetwork:
        name: "{{ gcp_v.name }}-{{ item.name }}"
        type: compute.v1.subnetwork
        properties:
          name: "{{ gcp_v.name }}-{{ item.name }}"
          ipCidrRange: "10.{{ gcp_v.octet | string }}.{{ item.octet }}.0/24"
          region: "{{ item.name }}"
          network: "{{ gcp_v.vpc_network }}"
    loop: "{{ gcp_v.regions }}"
    register: subnetwork_resources_return

  - set_fact:
      subnetwork_resources: "{{ subnetwork_resources_return.results | map(attribute='ansible_facts.subnetwork') | list }}"

  - debug:
      var: subnetwork_resources

  - gcp_deployment:
      auth_kind: "{{ gcp_v.auth_kind }}"
      config:
        resources: "{{ subnetwork_resources }}"
      name: "{{ gcp_v.name }}-subnetwork-family"
      project: "{{ gcp_v.project }}"
      state: "{{ gcp_v.state }}"
  tags:
    - gcp_subnetwork_family